html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
/*Erlend stuff*/
h1.a {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: bolder;
  color: rgb(255, 255, 255);
}

h2 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  color: rgb(195, 195, 195);
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
}

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(44, 44, 47);
  object-fit: contain;

  margin: auto;

  /*border: 5px solid rgb(255, 0, 0);*/

  width: 50%;
}

.flex-container > div {
  text-align: center;

  /*border: 2px solid rgb(73, 73, 73);*/
}

.headline {
  color: white;
  background-color: rgb(32, 32, 32);
}

.inputWindow {
  object-fit: contain;
}

.imageWindow {
  color: white;
  max-height: auto;
  min-height: 500px;
  object-fit: row;
}

.imageTimeline {
  color: white;
  max-height: auto;
  min-height: 500px;
  object-fit: row;
}

.meme {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 10px;
}

.logElement {
  object-fit: row;
}

.voiceText {
  background-color: rgb(77, 77, 77);
}
